* {
    font-family: myriad-pro, sans-serif;

    font-weight: 400;

    font-style: normal;

    text-align: center;
}
a {
    text-decoration: none;
    /*color: blue;*/
    color: white;
}

html, body {
    height:100%;
    width:100%;
    margin: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /*grid-template-columns : repeat(5, 1fr);*/
    /*grid-template-rows : repeat(3, 1fr);*/
}
@media all and (max-aspect-ratio:3/2) {
    .container {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        /*grid-template-columns : repeat(5, 1fr);*/
        /*grid-template-rows : repeat(3, 1fr);*/
    }
    .dropdown-content {
        display: none;
        position: absolute;
        left: 33.33333%;
        /*크기를 나중에 수정해야한다*/
        background-color: #000;
        width: 33.33333%;
        height: 20%; 
        z-index: 2;
        padding:0%;
        margin:0%;
        background: linear-gradient(90deg, #fff, #000, #000, #000);
        background-size: 200% 200%;
        animation: AnimationName2 10s ease-in-out infinite;
    }
    .dropdown-content2 {
        display: none;
        position: absolute;
        background-color: #000;
        width: 33.3333%;
        height: 20%;
        z-index: 2;
        padding:0%;
        margin:0%;
        top:80%;
        left:33.3333%;
        color: #fff;
        background: linear-gradient(90deg, #000, #000, #000, #fff);
        background-size: 200% 200%;
        animation: AnimationName 10s ease-in-out infinite;
        text-align: right;
    
    }
}
@media all and (min-aspect-ratio:3/2) {
    .container {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        /*grid-template-columns : repeat(5, 1fr);*/
        /*grid-template-rows : repeat(3, 1fr);*/
    }
    .dropdown-content {
        display: none;
        position: absolute;
        left: 20%;
        /*크기를 나중에 수정해야한다*/
        background-color: #000;
        width: 20%;
        height: 33.33333%; 
        z-index: 2;
        padding:0%;
        margin:0%;
        background: linear-gradient(90deg, #fff, #000, #000, #000);
        background-size: 200% 200%;
        animation: AnimationName2 10s ease-in-out infinite;
    }
    .dropdown-content2 {
        display: none;
        position: absolute;
        left: 20%;
        /*크기를 나중에 수정해야한다*/
        background-color: #000;
        width: 20%;
        height: 33.3333%;
        z-index: 2;
        padding:0%;
        margin:0%;
        top:66.6666%;
        left:60%;
        color: #fff;
        background: linear-gradient(90deg, #000, #000, #000, #fff);
        background-size: 200% 200%;
        animation: AnimationName 10s ease-in-out infinite;
        text-align: right;
    
    }
}

.item1 {
    background-color: black;
    color: white;
    background-image: url('../contents/lettering/od.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.item3 {
    background-color: black;
    color : white;
} 
.item5 {
    background-color: black;
    color : white;
}
.item7 {
    background-color: black;
    color : white;
    
}
.item9 {    
    background-color: black;    
    color : white;
    }
.item11 {
    background-color: black;
    color : white;

}
.item13 {
    background-color: black;
    color : white;
}
.item15 {
    background-color: black;
    color : white;
    background-image: url('../contents/lettering/h2.png');
    background-size: cover;
}

.item2 {
    background-color: white;
    color : black;
}
.item4 {
    background-color: white;
    color : black;
}
.item6 {
    background-color: white;
    color : black;
}
.item8 {
    background-color: white;
    color : black;
    padding-left: 0;
    margin-left: 0;
}
.item10 {
    background-color: white;
    color : black;
}
.item12 {
    background-color: white;
    color : black;
}
.item14 {
    background-color: white;
    color : black;
}


@keyframes AnimationName { 
    0%{background-position:0% 100%}
    50%{background-position:100% 100%}
    100%{background-position:0% 100%}
}

@keyframes AnimationName2 { 
    0%{background-position:100% 0%}
    50%{background-position:0% 0%}
    100%{background-position: 100% 0%;}
}


.dropdown-content2 div a {
    text-decoration: none;
    color: white;
    padding-right: 3%;
    padding-bottom: 20%;
    font-style: italic;
}
.dropdown-content2 div {
    padding-top: 50%;
    text-align: right;
    line-height: 140%;
}


.container>div:hover {
    filter: invert(100%);
    transition: all 0.07s ease-in;
}

.container>div {
    filter: invert(0%);
    transition: all 0.07s ease-in;
}

a:hover {
    filter: invert(50%);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content div {
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
}
.category {
    display: block;
    border-bottom: black;
    padding: 4% 20%;
    margin-top: 6%;
    font-size: 1rem;
    font-style: italic;
}